# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildozer/
.build/
.history
.svn/
*.apk
*.aab

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Visual Studio Code
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
bin/

# Android
android/app/debug
android/app/profile
android/app/release

# Python legacy
__pycache__/
nachrilak_data/
